USE [master]
GO
/****** Object:  Database [ders_p]    Script Date: 7.01.2024 16:56:31 ******/
CREATE DATABASE [ders_p]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ders_p', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ders_p.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ders_p_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ders_p_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ders_p].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ders_p]
GO
/****** Object:  Table [dbo].[aktif_ders]    Script Date: 7.01.2024 16:56:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[aktif_ders](
	[ders_id] [int] NOT NULL,
	[sinif_id] [int] NOT NULL,
	[ogr_id] [int] NOT NULL,
	[bas_saat] [nchar](30) NOT NULL,
	[bit_saati] [nchar](30) NOT NULL,
	[gün] [nchar](30) NOT NULL,
	[aktif_ders_id] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[aktif_ders_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sinif]    Script Date: 7.01.2024 16:56:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sinif](
	[sinif_id] [int] NOT NULL,
	[sinif_kapasite] [int] NOT NULL,
	[sinif_turu] [nchar](40) NOT NULL,
 CONSTRAINT [PK_sinif] PRIMARY KEY CLUSTERED 
(
	[sinif_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ogretmen]    Script Date: 7.01.2024 16:56:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ogretmen](
	[ogr_adi_soyadi] [nchar](90) NULL,
	[ogr_id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_ogretmen] PRIMARY KEY CLUSTERED 
(
	[ogr_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ders]    Script Date: 7.01.2024 16:56:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ders](
	[ders_adi] [nchar](90) NOT NULL,
	[seviye] [nchar](10) NOT NULL,
	[ders_kodu] [nchar](20) NOT NULL,
	[ders_id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_ders] PRIMARY KEY CLUSTERED 
(
	[ders_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[ViewAktif]    Script Date: 7.01.2024 16:56:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ViewAktif]
AS
SELECT dbo.aktif_ders.gün, dbo.ders.ders_adi, dbo.aktif_ders.bas_saat, dbo.aktif_ders.bit_saati, dbo.ogretmen.ogr_adi_soyadi, dbo.sinif.sinif_id
FROM     dbo.aktif_ders INNER JOIN
                  dbo.ders ON dbo.aktif_ders.ders_id = dbo.ders.ders_id INNER JOIN
                  dbo.ogretmen ON dbo.aktif_ders.ogr_id = dbo.ogretmen.ogr_id INNER JOIN
                  dbo.sinif ON dbo.aktif_ders.sinif_id = dbo.sinif.sinif_id
WHERE  (dbo.aktif_ders.gün = N'Pazartesi') AND (dbo.ders.ders_adi = N'Fizik1') AND (dbo.aktif_ders.bas_saat = N'10.00') AND (dbo.aktif_ders.bit_saati = N'13.00') AND (dbo.ogretmen.ogr_adi_soyadi = N'Prof Dr. Hikmet Hakan Gürel') AND 
                  (dbo.sinif.sinif_id = 1040)
GO
ALTER TABLE [dbo].[aktif_ders]  WITH CHECK ADD  CONSTRAINT [FK_aktif_ders_ders] FOREIGN KEY([ders_id])
REFERENCES [dbo].[ders] ([ders_id])
GO
ALTER TABLE [dbo].[aktif_ders] CHECK CONSTRAINT [FK_aktif_ders_ders]
GO
ALTER TABLE [dbo].[aktif_ders]  WITH CHECK ADD  CONSTRAINT [FK_aktif_ders_ogretmen] FOREIGN KEY([ogr_id])
REFERENCES [dbo].[ogretmen] ([ogr_id])
GO
ALTER TABLE [dbo].[aktif_ders] CHECK CONSTRAINT [FK_aktif_ders_ogretmen]
GO
ALTER TABLE [dbo].[aktif_ders]  WITH CHECK ADD  CONSTRAINT [FK_aktif_ders_sinif] FOREIGN KEY([sinif_id])
REFERENCES [dbo].[sinif] ([sinif_id])
GO
ALTER TABLE [dbo].[aktif_ders] CHECK CONSTRAINT [FK_aktif_ders_sinif]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "aktif_ders"
            Begin Extent = 
               Top = 7
               Left = 48
               Bottom = 170
               Right = 242
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "ders"
            Begin Extent = 
               Top = 7
               Left = 290
               Bottom = 170
               Right = 484
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "ogretmen"
            Begin Extent = 
               Top = 7
               Left = 532
               Bottom = 126
               Right = 726
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "sinif"
            Begin Extent = 
               Top = 7
               Left = 774
               Bottom = 148
               Right = 968
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ViewAktif'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ViewAktif'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ViewAktif'
GO
USE [master]
GO
